<div class="company-container">
    <app-hero
      titulo="Empresas que confían en TalentHub"
      detalle="Descubre las organizaciones que utilizan nuestra plataforma para encontrar el mejor talento y optimizar sus procesos de reclutamiento."
      btn1="Unirse como empresa"
      btn1Link="/"
      btn2="Ver beneficios"
      btn2Link="/"
      imgSrc="https://res.cloudinary.com/dprhyf4s1/image/upload/fl_preserve_transparency/v1741294268/conect_tavq4i.jpg?_s=public-apps">
    </app-hero>
  
  </div>
  