<div class="container d-flex align-items-center min-vh-100">
    <div class="row w-100">
      <!-- Sección de texto -->
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-black">Conectando talento con oportunidades</h1>
        <p class="text-muted">
          Nuestra plataforma facilita el proceso de reclutamiento tanto para 
          empresas como para candidatos, permitiendo encontrar el talento adecuado 
          y las mejores oportunidades laborales.
        </p>
        <div>
          <button class="btn btn-primary me-2">
            Buscar Empleo <i class="bi bi-arrow-right"></i>
          </button>
          <button class="btn btn-outline-secondary">
            Publicar Ofertas
          </button>
        </div>
      </div>
  
      <!-- Sección de imagen -->
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://res.cloudinary.com/dprhyf4s1/image/upload/fl_preserve_transparency/v1741294268/conect_tavq4i.jpg?_s=public-apps" class="img-fluid rounded shadow-lg" alt="Imagen de talento">
      </div>
    </div>
  </div>
  